body {
  margin: 0;
}
.wrapper {
  position: relative;
  display: inline-block;
}
.wrapper:hover .right-arrow {
  display: block;
}
.right-arrow {
  position: absolute;
  top: 60px;
  width: 0;
  height: 0;
  border-right: 30px solid;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  display: none;
}
